html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 6rem;
  margin: 0;
  margin-bottom: 4rem;
}
h2 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}
h6 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 1rem;
}

p, ul, li, ol {
  font-size: 2rem;
}

hr {
  margin: 2rem 0;
  padding: 0;
  border: none;
  border-bottom: solid 1px #ccc;
}

svg {
  overflow: visible;
}

.svgWrapper {
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

code {
  font-family: 'Fira Code', monospace;
  background: #e2e2e2;
  padding: 0px 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

pre {
  background: #333;
  color: #e2e2e2;
  font-family: 'Fira Code', monospace;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem;
  border-radius: 4px;
  margin: 3rem 0;
  overflow: auto;
}

pre code {
  background: none;
  padding: 0;
}


.frame {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: .5em auto;
  border: solid 3em saddlebrown;
  border-bottom: none;
  width: 10em;
  height: 12em;
}
.door {
  height: inherit;
  background: darksalmon;
}
.container--realistic {
  perspective: 20em;
}
.frame--ani {
  animation: frameani 2s ease-in-out infinite alternate;
}
@keyframes frameani {
  from { transform: rotateY(-60deg); }
  to { transform: rotateY(60deg); }
}

.door--ani {
  transform-origin: 0 0;
  animation: doorani 3s ease-in-out infinite alternate;
}
@keyframes doorani {
  from { transform: rotateY(-43deg); }
  to { transform: rotateY(43deg); }
}


